<p>
	<string>Image:</string>
	<%= image_tag @between.photo %>
</p>
<p>
	<strong>Title:</strong>
	<%= @between.title %>
</p>
<p>
	<strong>Text:</strong>
	<%= @between.text %>
</p>

<h2>Comments</h2>
<% @between.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>
	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@between, @between.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
