<div class="between">
	<p>
		<%= image_tag @between.photo, :width => 400 %>
	</p>
	<p>
		<strong>Title:</strong>
		<%= @between.title %>
	</p>
	<p>
		<strong>Text:</strong>
		<%= @between.text %>
	</p>
</div>

<div class="comment">
<h4>Comments</h4>
<% @between.comments.each do |comment| %>
	<p>
		<strong><%= current_user.email  %>:</strong>
		<%= comment.body %>
	</p>

<% end %>

<br><h4>Add a comment:</h4>
<%= form_for([@between, @between.comments.build]) do |f| %>
	
	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
</div>
