<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  .jumbotron {text-align:center;
  	height:300px;
  	font-family: 'Lobster', cursive;
  	font-weight:lighter;}
  .log_in {text-align:center;
  	font-family: 'Jeju Gothic', serif;
  }
  .story {text-align:center;
  	font-family: 'Jeju Gothic', serif;}
  .between {text-align:center;
  	font-family: 'Jeju Gothic', serif;}
 
  
  table{width:100;
  	margin:auto;
  	text-align:left;
    top:50px;}
  textarea{width:500px;height:200px;}
  
  body {
    margin: 0 auto;
    max-width: 80em;
  }

  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "My diary", story_index_path %></li>
      <li><%= link_to "Between diary", between_index_path %></li>  
    </ul>

      
  </div>
</nav>

<div class="jumbotron">
  <h1 class="belong_to_you">Belong to You</h1>
</div>
 
<%= yield %>

</body>
</html>
